.modal-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}

.p {
  font-size: 48px;
  font-weight: bold;
}

.hidden {
  display: none;
}




.active{
  border-color:rebeccapurple;
  color:red
}


#adoptBtn:disabled {
  background-color: #ccc; 
  color: #666;
  cursor: not-allowed;
}